
<!-- <app-header></app-header> -->
<main class="main container">
    <section class="users-content">
        <article class="users-header">
            <h1>Lista de Usuarios</h1>
            <p>En esta sección podras ver los usuarios registrados.</p>

            <div class="users-actions">
                <app-button routerLink="create" type="circle" text="Agregar Usuario" icon="person_add"></app-button>
                <app-filters [filters]="filtros" (data)="changeFiltros($event)"></app-filters>
            </div>
        </article>
        <article class="users-body" [class.loading]="loading">
            @if (loading) {
                <app-loader [global]="true"></app-loader>
                    
            }
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <!-- <th>Correo</th> -->
                        <th>Edad</th>
                        <th>
                            <div class="icon">
                                <span>Estado</span>
                                <mat-icon [matMenuTriggerFor]="tooltipMenu">help_outline</mat-icon>
                                <mat-menu #tooltipMenu="matMenu" class="tooltip">
                                  <div class="tooltip-content">
                                    <b>SOLICITADO:</b> Usuario se registró y está a la espera del alta. <br>
                                    <b>ALTA:</b> Usuario fue cargado o aprobado por un administrador, aún no ha iniciado sesión. <br>
                                    <!-- <b>INCOMPLETO:</b> No tiene la información mínima requerida. <br> -->
                                    <b>PÚBLICO:</b> La cuenta es pública. <br>
                                    <b>PRIVADO:</b> La cuenta es privada. <br>
                                    <b>BLOQUEADO:</b> Fue bloqueado por un administrador. <br>
                                    <b>BAJA:</b> Usuario fue dado de baja por un administrador (eliminado). 
                                  </div>
                                </mat-menu>
                            </div>
                        </th>
                        <th>
                            <div class="icon">
                                <span>Rol</span>
                                <mat-icon [matMenuTriggerFor]="rolTooltip">help_outline</mat-icon>
                                <mat-menu #rolTooltip="matMenu" class="tooltip">
                                  <div class="tooltip-content">
                                    <b>ALUMNO:</b> La cuenta es de un alumno. <br>
                                    <b>EGRESADO:</b> La cuenta es de un egresado. <br>
                                    <b>EMPRESA:</b> La cuenta es de una empresa, administra la empresa asociada. <br>
                                    <b>ADMIN:</b> La cuenta es de un administrador. <br>
                                    <b>DEV:</b> La cuenta es para pruebas de desarrollo.
                                  </div>
                                </mat-menu>
                            </div>
                        </th>
                        <th>
                            <div class="icon">
                                <span>Disponibilidad</span>
                                <mat-icon [matMenuTriggerFor]="dispTooltip">help_outline</mat-icon>
                                <mat-menu #dispTooltip="matMenu" class="tooltip">
                                  <div class="tooltip-content">
                                    <b>NO DEFINIDO:</b> El usuario no estableció el dato. <br>
                                    <b>NO DISPONIBLE:</b> No está buscando trabajo. <br>
                                    <b>DISPONIBLE:</b> Disponible para trabajar. <br>
                                    <b>EMPLEADO:</b> Actualmente empleado. <br>
                                    <b>EN BÚSQUEDA:</b> Buscando activamente trabajo. <br>
                                    <b>PASANTE:</b> Actualmente en una pasantía. <br>
                                    <b>EN ENTREVISTA:</b> En proceso de entrevistas. <br>
                                    <b>EN PERÍODO DE PRUEBA:</b> En periodo de prueba laboral. <br>
                                    <b>DISPONIBLE PARCIAMENTE:</b> Disponible para empleo a tiempo parcial. <br>
                                    <b>EMPLEO ACTUAL NO RELEVANTE:</b> Empleado, pero buscando otro tipo de trabajo. 
                                  </div>
                                </mat-menu>
                            </div>
                        </th>
                        <th>
                            <div class="icon">
                                <span>Perfil</span>
                                <mat-icon [matMenuTriggerFor]="perfilTooltip">help_outline</mat-icon>
                                <mat-menu #perfilTooltip="matMenu" class="tooltip">
                                  <div class="tooltip-content">
                                    Porcentaje de datos del perfil completado.
                                  </div>
                                </mat-menu>
                            </div>
                        </th>
                        <th>
                            <div class="icon">
                                <span>Acciones</span>
                                <mat-icon [matMenuTriggerFor]="accionesMenu">help_outline</mat-icon>
                                <mat-menu #accionesMenu="matMenu" class="tooltip">
                                  <div class="tooltip-content">
                                    <p><b> <mat-icon>visibility</mat-icon> Ver Perfil:</b> Ver detalles del perfil. </p>
                                    <p><b> <mat-icon>edit</mat-icon> Editar:</b> Editar datos del perfil. </p>
                                    <p><b> <mat-icon>person_off</mat-icon> Bloquear:</b> Bloquear/suspender perfil, el usuario no podrá ingresar. </p>
                                    <p><b> <mat-icon>person</mat-icon> Desbloquear:</b> Desbloquear el perfil. </p>
                                    <p><b> <mat-icon>delete</mat-icon> Eliminar:</b> Da de baja al usuario. </p>
                                    <p><b> <mat-icon>restart_alt</mat-icon> Restablecer:</b> Restablece los datos del perfil si está eliminado o ha sido dado de baja. </p>
                                    <p><b> <mat-icon>lock_reset</mat-icon> Restablecer Clave:</b> Restablece la clave con el DNI del usuario o en caso de que no tenga DNI cargado con la clave: 12345678. </p>
                                    
                                  </div>
                                </mat-menu>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (usuario of usuarios(); track usuario.id) {
                        <tr>
                            <td> {{usuarioService.getFullName(usuario)}}</td>
                            <td>{{usuario.dni}}</td>
                            <!-- <td>{{usuario.correo}}</td> -->
                            <td>{{usuarioService.getYearsOld(usuario)}}</td>
                            <td>{{usuario.estado}}</td>
                            <td>{{usuario.rol}}</td>
                            <td>{{usuario.disponibilidad ?? 'NO DEFINIDO'}}</td>
                            <td>{{usuario.estadoPerfil | number:'2.2-2'}}%</td>
                            <td class="actions">
                                <div (click)="onSelectUser(usuario)" class="cursor" [routerLink]="usuario.id + ''" matTooltip="Ver Perfil">
                                    <mat-icon>visibility</mat-icon>
                                </div>
                                <div (click)="onSelectUser(usuario)" class="cursor" [routerLink]="['/dashboard/users', usuario.id, 'edit']" matTooltip="Editar">
                                    <mat-icon>edit</mat-icon>
                                </div>

                                @if (usuario.id!= usuarioService.getUsuario()?.id) {
                                    <div class="cursor" matTooltip="Restablecer Clave" (click)="onRestoreClave(usuario)">
                                        <mat-icon>lock_reset</mat-icon>
                                    </div>
                                }
                                @if (usuario.estado != 'BAJA' && usuario.estado != 'BLOQUEADO') {
                                    <div class="cursor" matTooltip="Bloquear" (click)="onBlock(usuario)">
                                        <mat-icon>person_off</mat-icon>
                                    </div>
                                }
                                @if (usuario.estado == 'BLOQUEADO') {
                                    <div class="cursor" matTooltip="Desbloquear" (click)="onRestore(usuario, false)">
                                        <mat-icon>person</mat-icon>
                                    </div>
                                }
                                @if (usuario.estado == 'BAJA') {
                                    <div class="cursor" matTooltip="Restablecer" (click)="onRestore(usuario, true)">
                                        <mat-icon>restart_alt</mat-icon>
                                    </div>
                                }
                                @if (usuario.estado!='BAJA') {
                                    <div class="cursor" matTooltip="Eliminar" (click)="onDelete(usuario)">
                                        <mat-icon>delete</mat-icon>
                                    </div>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (loaders().usuarios) {
                <app-loader></app-loader>
            }

            <div #centinelaUsuarios></div>
            @if(!loading && usuarios().length==0){
                <p class="users-empty">No hay usuarios</p>
            }
        </article>
    </section>
</main>
