.users-content{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
}
.users-content app-loader::content{
    padding: 1rem;
    width: 100%;
    display: grid;
    place-items: center;
}
h1{
    font-size: 2rem;
}
.users-header{
    display: grid;
    gap: 1rem;
}
.users-actions{
    display: flex;
    gap: .5rem;
}
.users-filters{
    display: grid;
    gap: .5rem;
}
.users-rol-filter{
    display: flex;
    gap: .5rem;
}
.users-body{
    overflow: auto;
}
.users-body.loading{
    display: grid;
    place-items: center;
}
table tbody td.cursor:first-child{
    text-decoration: underline;
    color: var(--mainColor);
}
.users-empty{
    text-align: center;
}
td.actions{
    display: flex;
    gap: .5rem;
}

/* .tooltip-content p{
    display: flex;
    align-items: center;
    gap: .3rem;
} */
/* .tooltip-content:has(>p) b,
.tooltip-content p{
    display: inline-flex;
    align-items: center;
    gap: .3rem;
} */

.tooltip-content mat-icon{
    vertical-align: middle;
}

.admin-info{
    display: grid;
    gap: .5rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
}
.admin-info-title{
    justify-self: start;
    padding: .2rem .5rem;
    border-radius: var(--borderrHigh);
    font-size: clamp(1rem, 5vw, 1.5rem);
    background-color: var(--bgCardColor);
    text-transform: uppercase;
}
.admin-info p {
    color: var(--titleColor);
}