header{
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 5px 0px var(--textColorAlpha);
    min-height: var(--headerHeight);
}
.header-content{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.header-content.simple{
    justify-content: center;
}

.logo{
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: -1px;
}