.filters-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--textColorAlpha);
    backdrop-filter: blur(5px);
    display: none;
    opacity: 0;
    transition: opacity var(--transitionMid) ease-in-out;
    z-index: 1000;
}

.filters-container.visible {
    opacity: 1;
}

.filters {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    display: grid;
    gap: 1rem;
    background-color: var(--bgCardColor);
    padding: 1rem;
    border-radius: var(--borderrHigh) var(--borderrHigh) 0 0;
    transition: transform var(--transitionFast) ease-in-out;
    width: 90%;
    max-width: 600px;
}

.filters.show {
    transform: translateX(-50%) translateY(0);
}
.filters h3{
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
    color: var(--mainColor);
}

.filter {
    position: relative;
    padding: 1rem .5rem .5rem;
    border-radius: var(--borderrMid);
    border: 1px solid var(--mainColor);
    /* max-width: calc(100% - 2rem); */
}
.filter.range{
    padding: .5rem;
   display: grid;
   gap: .5rem;
   /* max-width: calc(100% - 2rem); */

}
.filter.range .ranges{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: .5rem;
}
.filter.range .filter-name{
    grid-column: 1 / -1;
}
.filter:has(input) {
    padding: 0;
}

.filter input {
    font-size: 1rem;
    font-family: inherit;
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: var(--borderrMid);
    width: 100%;
    /* min-width: 300px; */
}
.filter.range input{
    border-radius: var(--borderrMid);
    border: 1px solid var(--mainColor);
}

.filter-name {
    position: absolute;
    left: 1rem;
    top: -.6rem;
    padding: 0 .3rem;
    font-weight: bold;
    font-size: .9rem;
    color: var(--mainColor);
    background-color: var(--bgCardColor);
}

.filter-values {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.filters-btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: .5rem;
}