<app-button (click)="toggleFilters($event)" type="circle" text="Filtros" icon="filter_list"></app-button>
<div class="filters-container" (click)="onCloseFilters($event)">
    <div class="filters" #filtersOptions>
        <h3>Filtros</h3>

        @for (filter of currentFilters(); track $index) {
            <div class="filter" [class.range]="filter.type=='range'">
                @if (filter.type=='option') {
                    <p class="filter-name">{{(filter.nameText ?? filter.name) | titlecase}}</p>
                    <div class="filter-values">
                        @for (item of filter.values; track $index) {
                            <app-button (click)="selectOption(filter.name, item.value, filter.multiple||false)" [text]="item.value" [type]="item.selected ? 'circle-selected' : 'circle'"></app-button>
                        }
                    </div>
                }


                @if (filter.type == 'text') {
                    <p class="filter-name">{{(filter.nameText ?? filter.name) | titlecase}}</p>
                    <input type="text" (keyup)="selectText(filter.name, $event)" [value]="filter.value || ''">
                }

                @if (filter.type == 'range') {
                    <p class="filter-name">{{(filter.nameText ?? filter.name) | titlecase}}</p>
                    <!-- <input type="text" (keyup)="selectText(filter.name, $event)" [value]="filter.value || ''"> -->
                    <div class="ranges" (keyup)="selectRange(filter.name, edad1, edad2)">
                        <input #edad1 type="number" placeholder="Desde" [value]="filter.values?.[0]?.value || ''">
                        <input #edad2 type="number" placeholder="Hasta" [value]="filter.values?.[1]?.value || ''">
                    </div>
                }
            </div>
        }

        <div class="filters-btns">
            <app-button text="Limpiar Filtros" type="circle" (click)="resetFilters()"></app-button>
            <app-button text="Aplicar Filtros" type="circle-selected" (click)="applyFilters()"></app-button>
        </div>
    </div>
</div>