.password-container{
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--darkColorAlpha);
    z-index: 1000;
}
.password-content{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
    width: 100%;
    max-width: 800px;
}
h2{
    text-align: center;
}

app-loader{
    margin: 0 auto;
}