<div class="password-container">
    <div class="password-content">
        <h2>Cambiar Clave</h2>

        <form [formGroup]="form">
            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'claveActual')" [class.error]="utils.hasOneError(form, 'claveActual')">
                    <input type="password" formControlName="claveActual">
                    <label for="">Clave Actual</label>
                </div>

                @if (utils.hasError(form, 'claveActual', 'required')) {
                    <p class="form-input-error">La clave actual es requerida.</p>
                }
                @if (utils.hasError(form, 'claveActual', 'minlength')) {
                    <p class="form-input-error">La clave actual es debe tener al menos {{utils.getError(form, 'claveActual', 'minlength').requiredLength}} caracteres.</p>
                }
                @if (utils.hasError(form, 'claveActual', 'maxlength')) {
                    <p class="form-input-error">La clave actual puede tener hasta {{utils.getError(form, 'claveActual', 'maxlength').requiredLength}} caracteres.</p>
                }
                @if (utils.hasError(form, 'claveActual', 'pattern')) {
                    <p class="form-input-error">La clave puede tener letras, números y estos caracteres: (-, _).</p>
                }
            </div>



            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'clave')" [class.error]="utils.hasOneError(form, 'clave')">
                    <input type="password" formControlName="clave">
                    <label for="">Nueva Clave</label>
                </div>

                @if (utils.hasError(form, 'clave', 'required')) {
                    <p class="form-input-error">La clave es requerida.</p>
                }
                @if (utils.hasError(form, 'clave', 'minlength')) {
                    <p class="form-input-error">La clave es debe tener al menos {{utils.getError(form, 'clave', 'minlength').requiredLength}} caracteres.</p>
                }
                @if (utils.hasError(form, 'clave', 'maxlength')) {
                    <p class="form-input-error">La clave puede tener hasta {{utils.getError(form, 'clave', 'maxlength').requiredLength}} caracteres.</p>
                }
                @if (utils.hasError(form, 'clave', 'pattern')) {
                    <p class="form-input-error">La clave puede tener letras, números y estos caracteres: (-, _).</p>
                }
            </div>


            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'clave2')" [class.error]="utils.hasOneError(form, 'clave2')">
                    <input type="password" formControlName="clave2">
                    <label for="">Repetir Clave</label>
                </div>

                @if (utils.hasError(form, 'clave2', 'passwordMismatch')) {
                    <p class="form-input-error">La clave debe ser igual.</p>
                }
            </div>
        </form>

        @if (loading) {
            <app-loader></app-loader>
        }@else {
            <app-button text="CAMBIAR" (click)="onSubmit()"></app-button>
        }
    </div>
</div>