.completed-profile{
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
}
h3{
    text-align: center;
}
.data-item{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.data-item mat-icon{
    color: var(--mainColor);
}
.data-item mat-icon.red{
    color: var(--errorColor);
}