main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* padding: 0 1rem; */
}
.register-container{
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}
.register-container > section{
    background-color: var(--bgCardColor);
    padding: 1rem;
    border-radius: var(--borderrMid);
}
.register-header-section{
    display: grid;
    place-items: center;
}
.register-header-section img{
    width: 150px;
    user-select: none;
}
.register-section{
    display: grid;
    place-items: center;
    gap: 2rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: var(--transitionMid);
}
.register-section .btn{
    justify-self: stretch;
}
.register-error{
    color: var(--errorColor);
    font-weight: bold;
}
.register-text{
    font-size: .8rem;
    text-align: center;
}

app-button{
    justify-self: stretch;
}

@media screen and (min-width:600px) {
    .register-section form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .register-section form .form-div:last-child{
        grid-column: 1/-1;
    }
}