.btn{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    background-color: var(--mainColor);
    color: var(--bgColor);
}

.btn.circle{
    background-color: transparent;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
}