<main class="main">
    <section class="crud-empresa">
        <h1>{{pasantia ? 'Editar' : 'Crear'}} Pasantía</h1>

        <form [formGroup]="form">

            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'titulo')" [class.error]="utils.hasOneError(form, 'titulo')">
                    <input type="text" formControlName="titulo">
                    <label for="">Titulo</label>
                </div>

                @if(utils.hasError(form, 'titulo', 'required')) {
                    <p class="form-input-error">El titulo es requerido.</p>
                }
                @if (utils.hasError(form, 'titulo', 'minlength')) {
                    <p class="form-input-error">El titulo debe tener al menos {{utils.getError(form, 'titulo', 'minlength').requiredLength}} caracteres.</p>
                }
                @if (utils.hasError(form, 'titulo', 'maxlength')) {
                    <p class="form-input-error">El titulo puede tener hasta {{utils.getError(form, 'titulo', 'maxlength').requiredLength}} caracteres.</p>
                }
            </div>

            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'desc')">
                    <textarea name="" id="" formControlName="desc"></textarea>
                    <label for="">Descripción</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input hasValue" [class.error]="utils.hasOneError(form, 'fechaInicio')">
                    <input type="date" formControlName="fechaInicio">
                    <label for="">Fecha de Inicio*</label>
                </div>

                @if(utils.hasError(form, 'fechaInicio', 'required')) {
                    <p class="form-input-error">La fecha de inicio es requerida.</p>
                }
            </div>

            <div class="form-div">
                <div class="form-div-input hasValue">
                    <input type="date" formControlName="fechaFinal">
                    <label for="">Fecha de Finalización</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'empresa')" [class.error]="utils.hasOneError(form, 'empresa')" queryInput="" [callback]="buscarEmpresas.bind(this)">
                    <input type="text" formControlName="empresa">
                    <input type="hidden" formControlName="idEmpresa">
                    <label for="">Empresa*</label>
                </div>
                @if(utils.hasError(form, 'empresa', 'required')) {
                    <p class="form-input-error">La empresa es requerida.</p>
                }
            </div>

            @if (usuarioService.isAdmin() && false) {
                <div class="form-div form-div-users" >
                    <div class="form-div-input" queryInput="" [callback]="buscarUsuarios.bind(this)" [process]="false" (selectedItem)="selectUser($event)" [class.hasValue]="utils.hasValue(form, 'usuario')">
                        <input type="text" formControlName="usuario">
                        <input type="hidden" >
                        <label for="">Alumno(s)</label>
                    </div>
    
    
                    @if (usuariosSelected.length>0) {
                        <p>Alumno(s) Seleccionado(s)</p>
                        <div class="users">
                            @for (user of usuariosSelected; track user.id) {
                                <app-button (click)="openModalUser(user.id)" [text]="user.usuarioName" type="circle"></app-button>
                            }
                        </div>
                    }
                </div>
            }@else {
                


                @if (usuarioService.isAdmin()) {
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'usuario')" [class.error]="utils.hasOneError(form, 'idUsuario')" queryInput="" [callback]="buscarUsuarios.bind(this)">
                            <input type="text" formControlName="usuario" >
                            <input type="hidden" formControlName="idUsuario">
                            <label for="">Alumno</label>
                        </div>
    
                        @if(utils.hasError(form, 'idUsuario', 'required')) {
                            <p class="form-input-error">El usuario es requerido.</p>
                        }
                    </div>
                }

                <div class="form-div">
                    <div class="form-div-input" [class.hasValue]="utils.hasValue(form, 'nota')" [class.error]="utils.hasOneError(form, 'nota')">
                        <input type="number" formControlName="nota" >
                        <label for="">Nota</label>
                    </div>

                    @if(utils.hasError(form, 'nota', 'required')) {
                        <p class="form-input-error">La nota es requerida.</p>
                    }
                    @if(utils.hasError(form, 'nota', 'max')) {
                        <p class="form-input-error">La nota máxima es {{utils.getError(form, 'nota','max').max}}.</p>
                    }
                    @if(utils.hasError(form, 'nota', 'min')) {
                        <p class="form-input-error">La nota mínima es {{utils.getError(form, 'nota','min').min}}.</p>
                    }
                </div>
            }
        </form>

        <div class="form-actions" [class.grid]="usuarioService.isAdmin() && pasantia?.estado == 'SOLICITADA'">
            @if ((usuarioService.isAdmin() ? pasantia?.estado !='SOLICITADA' : pasantia?.estado == 'SOLICITADA') || !pasantia) {
                <app-button [text]="pasantia ? 'EDITAR' : 'AGREGAR'" (click)="onSubmit()"></app-button>
            }
            @if (usuarioService.isAdmin() && pasantia?.estado == 'SOLICITADA') {
                <app-button text="APROBAR" type="circle-selected" (click)="onAprobar()" icon="check"></app-button>
                <app-button text="RECHAZAR" color="red" type="circle-selected" (click)="onRechazar()" icon="block"></app-button>
            }
        </div>
    </section>

    <section class="modal-user-container" [class.open]="usuarioSeleccionado()">
        <div class="modal-user" >
            <p>Usuario: {{usuarioSeleccionado()?.usuarioName}}</p>
            <div class="form-div">
                <div class="form-div-input hasValue">
                    <input type="number" max="10" min="0" (keyup)="updateUserSelected($event)" [value]="usuarioSeleccionado()?.nota ?? ''">
                    <label for="">Nota</label>
                </div>
            </div>

            <div class="btns">
                <app-button text="ELIMINAR DE LA PASANTÍA" color="red" (click)="deleteUser(usuarioSeleccionado()?.id)"></app-button>
                <app-button text="ACTUALIZAR Y CERRAR"  (click)="closeModalUser()"></app-button>
            </div>
        </div>
    </section>
</main>


@if (idPasantia && loading()) {
    <app-loader [global]="true"></app-loader>
}