main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.user-create{
    display: grid;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
}
.user-create h1{
    text-align: center;
    justify-self: center;
}

.form-buttons{
    display: grid;
    justify-items: center;
    width: 100%;
}