<main class="main content">
    <section class="user-create">
        <h1 class="title">Crear Usuario</h1>

        <form class="form">
            <div class="form-div">
                <div class="form-div-input">
                    <input type="text">
                    <label>Nombre</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input">
                    <input type="text">
                    <label>Apellido</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input">
                    <input type="email">
                    <label>Correo</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input">
                    <input type="text">
                    <label>Nombre</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input">
                    <input type="number">
                    <label>DNI</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input hasValue">
                    <input type="date">
                    <label>Fecha de Nacimiento</label>
                </div>
            </div>

            <div class="form-div">
                <div class="form-div-input">
                    <input type="text">
                    <label>Estado</label>
                </div>
            </div>
        </form>

        <div class="form-buttons">
            <app-button type="simple" text="AGREGAR"></app-button>
        </div>
    </section>
</main>