main{
    display: grid;
    gap:  0 1rem;
}
.user-header, .user-body{
    position: relative;
    display: grid;
    padding: 1rem;
    background-color: var(--bgCardColor);
    border-radius: var(--borderrHigh) var(--borderrHigh) 0 0;
}

.user-header-bottom{
    grid-column: 1 /-1;
}
.privacy{
    display: grid;
    gap: .5rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--mainColorAlpha);
    margin-top: 1rem;
}
.user-body{
    border-radius:  0 0 var(--borderrHigh) var(--borderrHigh);
}
.user-header img{
    grid-row: 1 / -1;
    border-radius: 50%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    justify-self: center;
}
.user-header-top{
    text-align: center;
    justify-self: center;
}
.user-name{
    font-size: clamp(1.5rem, 10vw, 2.2rem);
    font-weight: bold;
    color: var(--textColor);
}
.user-estado{
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: var(--mainColor);
    color: var(--bgCardColor);
    border-radius: var(--borderrLow);
    font-weight: bolder;
    text-transform: uppercase;
}
.edit-profile{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: grid;
    place-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--mainColor);
    border-radius: 50%;
}
.edit-profile mat-icon{
    color: var(--bgCardColor);
}

.user-body{
    display: grid;
    gap: 1.5rem;
}
.user-body article{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 1rem;
    box-shadow: 0 0 3px 0px var(--boxShadowColorMax);
    border-radius: var(--borderrHigh);
}
.user-body article:nth-child(even){
    background-color: var(--bgColor);
}
.user-body article h2{
    grid-column: 1 / -1;
}
.user-body article > div{
    word-wrap: break-word; /* Maneja palabras largas */
    overflow-wrap: break-word; /* Asegura que el texto se ajuste */
    white-space: normal; /* Permite que el texto envuelto pase a la siguiente línea */
}
.user-body article  div.col-all{
    grid-column: 1 /-1;
}
.user-body article  div p:first-child{
    font-size: .8rem;
}
.user-body article  div p:last-child{
    color: var(--textColor);
}


.empresa-asociada{
    background-color: var(--mainColorAlpha);
    box-shadow: var(--boxshadowMain) !important;
}
.empresas{
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    overflow-x: auto;
    grid-column: 1 / -1;
}
.empresa{
    display: grid;
    gap: .5rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    width: clamp(300px, 90%, 400px);
    background-color: var(--bgCardColor);
    flex-shrink: 0;
}
.empresa-name{
    font-size: 1rem !important;
    color: var(--titleColor);
    font-weight: bold;
}

.habilidades > div{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    grid-column: 1 / -1;
}
.habilidad-item{
    padding: .5rem 1rem;
    font-size: .8rem;
    border-radius: 3rem;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
}


.exp-items, .pas-items{
    display: grid;
    gap: 1rem;
    grid-column: 1 / -1;
}
.exp-item, .pas-item{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.exp-item .exp-left,
.pas-item .pas-left{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-row: 1 / -1;
}
.exp-item mat-icon,
.pas-item mat-icon{
    width: 60px;
    height: 60px;
    font-size: 60px;
}
.exp-right,
.pas-right{
    display: grid;
    gap: .5rem;
    width: 100%;
}
.exp-title,
.pas-title{
    font-size: 1.1rem !important;
    font-weight: bold;
    color: var(--titleColor);
}
.exp-empresa span,
.pas-empresa span{
    color: var(--titleColor);
}


@media screen and (min-width:550px) {
    
    
    .user-header{
        grid-template-columns: max-content 1fr;
        gap: 1rem;
    }
    .user-header img{
        justify-self: start;
        align-self: center;
    }
    .user-header-top{
        align-self: center;
        justify-self: start;
        text-align: start;
    }
}
@media screen and (min-width:850px) {
    main.withCompletedData{
        grid-template-columns: 1fr 220px;
    }
    .completed-profile{
        grid-column: 2 / 3;
        grid-row: 1 / 3;

    }
}