@if (loading()) {
<app-loader [global]="true"></app-loader>
}@else {
<app-header></app-header>
<main class="main content" [class.withCompletedData]>
  <section class="user-header">
    <img src="assets/images/no-img.jpeg" alt="Perfil del usuario" />
    <div class="user-header-top">
      <h1 class="user-name">{{ getFullName() }}</h1>
      @if (usuarioDetails?.perfilProfesional) {
      <p class="user-cargo">{{ usuarioDetails?.perfilProfesional?.cargo }}</p>
      } @if(usuarioService.isAdmin() || isOwner()){
      <div routerLink="edit" class="edit-profile cursor">
        <mat-icon>edit</mat-icon>
      </div>
      }
    </div>
  </section>
  @if (!(isOwner() && usuarioService.isAdmin())) {
    <div class="completed-profile">
        <completed-profile [idUsuario]="getId()"></completed-profile>
      </div>
  }
  <section class="user-body">
    <article class="personal-info">
      <h2>Información Personal</h2>
      <div>
        <p>Correo</p>
        <p>{{ usuarioDetails?.correo }}</p>
      </div>
      <div>
        <p>Edad</p>
        <p>{{ getEdad() }} años</p>
      </div>
      <div>
        <p>DNI</p>
        <p>{{ usuarioDetails?.dni }}</p>
      </div>
      @if (usuarioDetails?.contacto) { @if (usuarioDetails?.contacto?.telefono)
      {
      <div>
        <p>Celular</p>
        <p>{{ usuarioDetails?.contacto?.telefono }}</p>
      </div>
      } @if (usuarioDetails?.contacto?.telefonoFijo) {
      <div>
        <p>Telefono Fijo</p>
        <p>{{ usuarioDetails?.contacto?.telefonoFijo }}</p>
      </div>
      } @if (usuarioDetails?.contacto?.linkedin) {
      <div>
        <p>LinkedIn</p>
        <a
          [href]="usuarioDetails?.contacto?.linkedin"
          rel="norreferer"
          target="_blank"
          >{{ usuarioDetails?.contacto?.linkedin }}</a
        >
      </div>
      } @if (usuarioDetails?.contacto?.paginaWeb) {
      <div>
        <p>Página Web</p>
        <p>{{ usuarioDetails?.contacto?.paginaWeb }}</p>
      </div>
      } }
    </article>
    @if (usuarioDetails?.perfilProfesional) {
    <article class="about-me">
      <h2>Información Profesional</h2>
      <div>
        <p>Cargo</p>
        <p>{{ usuarioDetails?.perfilProfesional?.cargo }}</p>
      </div>
      <div>
        <p>Disponibilidad para Mudanza</p>
        <p>
          {{
            usuarioDetails?.perfilProfesional?.disponibilidadMudanza
              ? "Si"
              : "No"
          }}
        </p>
      </div>
      <div>
        <p>Disponibilidad Laboral</p>
        <p>
          {{
            usuarioDetails?.perfilProfesional?.disponibilidad
              ? usuarioDetails?.perfilProfesional?.disponibilidad ==
                "BUSQUEDA_ACTIVA"
                ? "Busqueda Activa"
                : "DEFINIR"
              : "No Disponible"
          }}
        </p>
      </div>
      @if (usuarioDetails?.perfilProfesional?.cartaPresentacion) {
      <div>
        <p>Sobre Mí</p>
        <p>{{ usuarioDetails?.perfilProfesional?.cartaPresentacion }}</p>
      </div>
      }
    </article>
    } @if (usuarioDetails?.ubicacion) {
    <article class="ubicacion">
      <h2>Ubicación</h2>
      <div>
        <p>País</p>
        <p>{{ usuarioDetails?.ubicacion?.pais }}</p>
      </div>
      <div>
        <p>Provincia</p>
        <p>{{ usuarioDetails?.ubicacion?.provincia }}</p>
      </div>
      <div>
        <p>Localidad</p>
        <p>{{ usuarioDetails?.ubicacion?.localidad }}</p>
      </div>
      <div>
        <p>Dirección</p>
        <p>
          {{ usuarioDetails?.ubicacion?.calle }}
          {{ usuarioDetails?.ubicacion?.numero ?? "S/N" }}
        </p>
      </div>
      @if (usuarioDetails?.ubicacion?.piso) {
      <div>
        <p>Piso</p>
        <p>{{ usuarioDetails?.ubicacion?.piso }}</p>
      </div>
      }
    </article>
    } @if (usuarioDetails?.habilidades) { @if(hasOneHabilidad('LENGUAJE
    PROGRAMACION')){
    <article class="habilidades">
      <h2>Lenguajes de Programación</h2>
      <div class="all-col">
        @for (h of getHabilidades('LENGUAJE PROGRAMACION'); track $index) {
        <span class="habilidad-item">{{ h.nombre }}</span>
        }
      </div>
    </article>
    } @if(hasOneHabilidad('APTITUD')){
    <article class="habilidades">
      <h2>Aptitudes</h2>
      <div class="all-col">
        @for (h of getHabilidades('APTITUD'); track $index) {
        <span class="habilidad-item">{{ h.nombre }}</span>
        }
      </div>
    </article>
    } @if(hasOneHabilidad('HERRAMIENTA')){
    <article class="habilidades">
      <h2>Herramientas</h2>
      <div class="all-col">
        @for (h of getHabilidades('HERRAMIENTA'); track $index) {
        <span class="habilidad-item">{{ h.nombre }}</span>
        }
      </div>
    </article>
    } @if(hasOneHabilidad('OTRO')){
    <article class="habilidades">
      <h2>Habilidades</h2>
      <div class="all-col">
        @for (h of getHabilidades('OTRO'); track $index) {
        <span class="habilidad-item">{{ h.nombre }}</span>
        }
      </div>
    </article>
    } }
  </section>
</main>
}
