<app-header></app-header>
<main class="main padding-top content">
    <section class="user-edit">
        <article class="personal-info">
            <h2>Información Personal</h2>
            <form>
                <div class="form-div">
                    <div class="form-div-input">
                        <input type="text">
                        <label>Nombre</label>
                    </div>
                </div>

                <div class="form-div">
                    <div class="form-div-input">
                        <input type="text">
                        <label>Apellido</label>
                    </div>
                </div>

                <div class="form-div">
                    <div class="form-div-input">
                        <input type="email">
                        <label>Correo</label>
                    </div>
                </div>

                <div class="form-div">
                    <div class="form-div-input">
                        <input type="number">
                        <label>DNI</label>
                    </div>
                </div>
            </form>
        </article>
        <article class="profesional-info">
            <h2>Información Profesional</h2>
            <form>
                <div class="form-div">
                    <div class="form-div-input">
                        <input type="text">
                        <label>Cargo</label>
                    </div>
                </div>

                <div class="form-div">
                    <div class="form-div-input">
                        <textarea></textarea>
                        <label>Sobre Mí</label>
                    </div>
                </div>

                <div class="form-div">
                    <div class="form-div-toggle">
                        <label>Disponibilidad para Mudanza</label>
                        <div class="input-toggle"></div>
                    </div>
                </div>
                <div class="form-div">
                    <div class="form-div-input">
                        <select>
                            <option value="BUSQUEDA_ACTIVA">Busqueda Activa</option>
                        </select>
                        <label>Disponibilidad</label>
                    </div>
                </div>
            </form>
        </article>
    </section>
</main>