@if (loaders().global) {
    <app-loader [global]="true"></app-loader>
}@else {
    <main class="main content">
        <section class="user-edit">
            <article class="foto-perfil">
                <h2>Foto de Perfil</h2>
                <div class="buttons">
                    <app-button [routerLink]="['/dashboard/users', userDetails?.id, 'upload-file']" [text]="userDetails?.fotoPerfil ? 'Cambiar Foto de Perfil' : 'Subir Foto de Perfil'"></app-button>
                    <app-button [routerLink]="['/dashboard/users', userDetails?.id, 'upload-file']" [queryParams]="{ type: 'cv' }" text="Cargar Currículum"></app-button>
                </div>
            </article>
            <article class="personal-info" [class.hasChanges]="utils.formWasChanged(personalInfoForm, initData().personalInfo)">
                <h2>Información Personal</h2>
                <form [formGroup]="personalInfoForm">
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(personalInfoForm, 'nombre')" [class.error]="utils.hasOneError(personalInfoForm, 'nombre')">
                            <input type="text" formControlName="nombre">
                            <label>Nombre</label>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'nombre', 'required')) {
                            <p class="form-input-error">El nombre es requerido</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'nombre', 'minlength')) {
                            <p class="form-input-error">El nombre debe tener al menos {{utils.getError(personalInfoForm, 'nombre', 'minlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'nombre', 'maxlength')) {
                            <p class="form-input-error">El nombre puede tener hasta {{utils.getError(personalInfoForm, 'nombre', 'maxlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'nombre', 'pattern')) {
                            <p class="form-input-error">El nombre solo acepta letras.</p>
                        }
                        
                    </div>
    
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(personalInfoForm, 'apellido')" [class.error]="utils.hasOneError(personalInfoForm, 'apellido')">
                            <input type="text" formControlName="apellido">
                            <label>Apellido</label>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'apellido', 'required')) {
                            <p class="form-input-error">El apellido es requerido</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'apellido', 'minlength')) {
                            <p class="form-input-error">El apellido debe tener al menos {{utils.getError(personalInfoForm, 'apellido', 'minlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'apellido', 'maxlength')) {
                            <p class="form-input-error">El apellido puede tener hasta {{utils.getError(personalInfoForm, 'apellido', 'maxlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'apellido', 'pattern')) {
                            <p class="form-input-error">El apellido solo acepta letras.</p>
                        }
                    </div>
    
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(personalInfoForm, 'correo')" [class.error]="utils.hasOneError(perfilProfesionalForm, 'correo')">
                            <input type="email" formControlName="correo">
                            <label>Correo</label>
                        </div>
                        @if (utils.hasError(perfilProfesionalForm, 'correo', 'required')) {
                            <p class="form-input-error">El correo es requerido,</p>
                        }
                        @if (utils.hasError(perfilProfesionalForm, 'correo', 'email')) {
                            <p class="form-input-error">El correo es inválido.</p>
                        }
                    </div>
    
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(personalInfoForm, 'dni')" [class.error]="utils.hasOneError(personalInfoForm, 'dni')">
                            <input type="text" formControlName="dni">
                            <label>DNI</label>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'dni', 'required')) {
                            <p class="form-input-error">El DNI es requerido</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'dni', 'pattern')) {
                            <p class="form-input-error">El DNI es inválido (sin puntos)</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input hasValue" [class.error]="utils.hasOneError(personalInfoForm, 'fechaNacimiento')">
                            <input type="date" formControlName="fechaNacimiento">
                            <label>Fecha de Nacimiento</label>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'fechaNacimiento', 'required')) {
                            <p class="form-input-errr">La fecha de nacimiento es requerida</p>
                        }
                        @if (utils.hasError(personalInfoForm, 'fechaNacimiento', 'requiredAge')) {
                            <p class="form-input-errr">Debe ser mayor de {{utils.getError(personalInfoForm, 'fechaNacimiento', 'requiredAge').requiredAge}} años</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input hasValue" [class.error]="utils.hasOneError(personalInfoForm, 'estado_civil')">
                            <label>Estado Civil</label>
                            <select name="" id="" formControlName="estado_civil">
                                @for (est of estadosCivil; track $index) {
                                    <option [value]="est" [selected]="est == userDetails?.estadoCivil">{{est}}</option>
                                }
                            </select>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'estado_civil', 'required')) {
                            <p class="form-input-errr">El estado civil es requerido.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input hasValue" [class.error]="utils.hasOneError(personalInfoForm, 'genero')">
                            <label>Género</label>
                            <select name="" id="" formControlName="genero">
                                @for (gen of generos; track $index) {
                                    <option [value]="gen" [selected]="gen == userDetails?.genero">{{gen}}</option>
                                }
                            </select>
                        </div>
                        @if (utils.hasError(personalInfoForm, 'genero', 'required')) {
                            <p class="form-input-errr">El género es requerido.</p>
                        }
                    </div>
                </form>

                @if (utils.formWasChanged(personalInfoForm, initData().personalInfo)) {
                    <div class="buttons personal-info-buttons">
                        @if (loaders().personalInfo) {
                            <app-loader></app-loader>
                        }@else {
                            <app-button text="CANCELAR" color="red"></app-button>
                            <app-button (click)="onPersonalInfo()" text="GUARDAR"></app-button>
                        }
                    </div>
                }
            </article>
            <article class="contacto-info" [class.hasChanges]="utils.formWasChanged(contactoForm, initData().contacto)">
                <h2>Contacto</h2>
                <form [formGroup]="contactoForm">
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(contactoForm, 'telefono')" [class.error]="utils.hasOneError(contactoForm, 'telefono')">
                            <input type="text" formControlName="telefono">
                            <label>Celular*</label>
                        </div>
                        @if (utils.hasError(contactoForm, 'telefono', 'required')) {
                            <p class="form-input-error">El número de celular es requerido.</p>
                        }
                        @if (utils.hasError(contactoForm, 'telefono', 'pattern')) {
                            <p class="form-input-error">El formato del telefono debe ser +54 0123 456789</p>
                        }
                    </div>
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(contactoForm, 'telefonoFijo')" [class.error]="utils.hasOneError(contactoForm, 'telefonoFijo')">
                            <input type="text" formControlName="telefonoFijo">
                            <label>Telefono Fijo</label>
                        </div>
                        @if (utils.hasError(contactoForm, 'telefonoFijo', 'pattern')) {
                            <p class="form-input-error">El formato del telefono fijo debe ser 011 1234 5678</p>
                        }
                    </div>
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(contactoForm, 'linkedin')" [class.error]="utils.hasOneError(contactoForm, 'linkedin')">
                            <input type="url" formControlName="linkedin">
                            <label>LinkedIn</label>
                        </div>
                    </div>
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(contactoForm, 'paginaWeb')" [class.error]="utils.hasOneError(contactoForm, 'paginaWeb')">
                            <input type="url" formControlName="paginaWeb">
                            <label>Página Web</label>
                        </div>
                    </div>
                </form>

                @if (utils.formWasChanged(contactoForm, initData().contacto)) {
                    <div class="buttons contacto-info-buttons">
                        @if (loaders().contacto) {
                            <app-loader></app-loader>
                        }@else {
                            <app-button text="CANCELAR" color="red"></app-button>
                            <app-button (click)="onContacto()" text="GUARDAR"></app-button>
                        }
                    </div>
                }
            </article>
            <article class="profesional-info" [class.hasChanges]="utils.formWasChanged(perfilProfesionalForm, initData().perfilProfesional)">
                <h2>Información Profesional</h2>
                <form [formGroup]="perfilProfesionalForm">
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(perfilProfesionalForm, 'cargo')" [class.error]="utils.hasOneError(perfilProfesionalForm, 'cargo')">
                            <input type="text" formControlName="cargo">
                            <label>Cargo*</label>
                        </div>
                        @if(utils.hasError(perfilProfesionalForm, 'cargo', 'required')){
                            <p class="form-input-error">El cargo es requerido.</p>
                        }
                        @if (utils.hasError(perfilProfesionalForm, 'cargo', 'minlength')) {
                            <p class="form-input-error">El cargo debe tener al menos {{utils.getError(perfilProfesionalForm, 'cargo', 'minlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(perfilProfesionalForm, 'cargo', 'maxlength')) {
                            <p class="form-input-error">El cargo puede tener hasta {{utils.getError(perfilProfesionalForm, 'cargo', 'maxlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(perfilProfesionalForm, 'cargo', 'pattern')) {
                            <p class="form-input-error">El cargo acepta solo acepta letras.</p>
                        }
                    </div>
    
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(perfilProfesionalForm, 'cartaPresentacion')" [class.error]="utils.hasOneError(perfilProfesionalForm, 'cartaPresentacion')">
                            <textarea formControlName="cartaPresentacion"></textarea>
                            <label>Sobre Mí</label>
                        </div>
                        @if (utils.hasError(perfilProfesionalForm, 'cartaPresentacion', 'minlength')) {
                            <p class="form-input-error">Debe tener al menos {{utils.getError(perfilProfesionalForm, 'cartaPresentacion', 'minlength').requiredLength}} caracteres</p>
                        }
                        @if (utils.hasError(perfilProfesionalForm, 'cartaPresentacion', 'maxlength')) {
                            <p class="form-input-error">Debe hasta {{utils.getError(perfilProfesionalForm, 'cartaPresentacion', 'maxlength').requiredLength}} caracteres</p>
                        }
                    </div>
    
                    <div class="form-div">
                        <div class="form-div-toggle" [class.active]="utils.getValue(perfilProfesionalForm, 'disponibilidadMudanza')" (click)="utils.toggleInput(perfilProfesionalForm, 'disponibilidadMudanza')">
                            <label>Disponibilidad para Mudanza</label>
                            <div class="input-toggle" [class.active]="utils.getValue(perfilProfesionalForm, 'disponibilidadMudanza')"></div>
                        </div>
                    </div>
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(perfilProfesionalForm, 'disponibilidad')" [class.error]="utils.hasOneError(perfilProfesionalForm, 'disponibilidad')">
                            <select formControlName="disponibilidad">
                                <!-- <option value="DISPONIBLE">DISPONIBLE</option>
                                <option value="NO DISPONIBLE">NO DISPONIBLE</option>
                                <option value="EMPLEADO, EN BUSQUEDA">EMPLEADO, EN BUSQUEDA</option> -->
                                @for (disp of disponibilidades; track $index) {
                                    <option [value]="disp">{{disp}}</option>
                                }
                            </select>
                            <label>Disponibilidad*</label>
                        </div>
                        @if (utils.hasError(perfilProfesionalForm, 'disponibilidad', 'required')) {
                            <p class="form-input-error">La disponibilidad es requerida.</p>
                        }
                    </div>
                </form>

                <div class="profesional-info-buttons buttons">
                    @if (utils.formWasChanged(perfilProfesionalForm, initData().perfilProfesional)) {
                        @if (loaders().perfilProfesional) {
                            <app-loader></app-loader>
                        }@else {
                            <app-button text="CANCELAR" color="red"></app-button>
                            <app-button (click)="onPerfilProfesional()" text="GUARDAR"></app-button>
                        }
                    }
                </div>
            </article>
            <article class="ubicacion" [class.hasChanges]="utils.formWasChanged(ubicacionForm, initData().ubicacion)">
                <h2>Ubicación</h2>

                <form [formGroup]="ubicacionForm">
                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'pais')" [class.error]="utils.hasOneError(ubicacionForm, 'pais')" >
                            <input type="text" formControlName="pais">
                            <label>País</label>
                        </div>
                        @if (utils.hasError(ubicacionForm, 'pais', 'required')) {
                            <p class="form-input-error">El país es requerido.</p>
                        }
                        @if (utils.hasError(ubicacionForm, 'pais', 'maxlength')) {
                            <p class="form-input-error">El país puede tener hasta {{utils.getError(ubicacionForm, 'pais', 'maxlength').requiredLength}} caracteres.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'provincia')" [class.error]="utils.hasOneError(ubicacionForm, 'provincia')">
                            @if (
                                ubicacionForm.get('pais')?.value == 'Argentina'
                                && !userDetails?.ubicacion?.provincia
                                && provincias.length>0
                                ) {
                                <select formControlName="provincia">
                                    @for (p of provincias; track $index) {
                                        <option [value]="p">{{p}}</option>
                                    }
                                </select>
                            }@else {
                                <input type="text" formControlName="provincia">

                            }
                            <label>Provincia*</label>
                        </div>
                        @if (utils.hasError(ubicacionForm, 'provincia', 'required')) {
                            <p class="form-input-error">La provincia es requerida.</p>
                        }
                        @if (utils.hasError(ubicacionForm, 'provincia', 'maxlength')) {
                            <p class="form-input-error">La provincia puede tener hasta {{utils.getError(ubicacionForm, 'provincia', 'maxlength').requiredLength}} caracteres.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'localidad')" [class.error]="utils.hasOneError(ubicacionForm, 'localidad')">
                            <input type="text" formControlName="localidad">
                            <label>Localidad</label>
                        </div>
                        @if (utils.hasError(ubicacionForm, 'localidad', 'required')) {
                            <p class="form-input-error">La localidad es requerida.</p>
                        }
                        @if (utils.hasError(ubicacionForm, 'localidad', 'maxlength')) {
                            <p class="form-input-error">La localidad puede tener hasta {{utils.getError(ubicacionForm, 'localidad', 'maxlength').requiredLength}} caracteres.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'barrio')" [class.error]="utils.hasOneError(ubicacionForm, 'barrio')">
                            <input type="text" formControlName="barrio">
                            <label>Barrio</label>
                        </div>

                        @if (utils.hasError(ubicacionForm, 'barrio', 'required')) {
                            <p class="form-input-error">El barrio es requerido.</p>
                        }
                        @if (utils.hasError(ubicacionForm, 'barrio', 'maxlength')) {
                            <p class="form-input-error">El barrio puede tener hasta {{utils.getError(ubicacionForm, 'barrio', 'maxlength').requiredLength}} caracteres.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'direccion')" [class.error]="utils.hasOneError(ubicacionForm, 'direccion')">
                            <input type="text" formControlName="direccion">
                            <label>Dirección</label>
                        </div>
                        @if (utils.hasError(ubicacionForm, 'direccion', 'required')) {
                            <p class="form-input-error">La direccion es requerida.</p>
                        }
                        @if (utils.hasError(ubicacionForm, 'direccion', 'maxlength')) {
                            <p class="form-input-error">La direccion puede tener hasta {{utils.getError(ubicacionForm, 'direccion', 'maxlength').requiredLength}} caracteres.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'piso')" [class.error]="utils.hasOneError(ubicacionForm, 'piso')">
                            <input type="text" formControlName="piso">
                            <label>Piso</label>
                        </div>

                        @if (utils.hasError(ubicacionForm, 'piso', 'isinteger')) {
                            <p class="form-input-error">El piso debe ser un número entero.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-input" [class.hasValue]="utils.hasValue(ubicacionForm, 'numero')" [class.error]="utils.hasOneError(ubicacionForm, 'numero')">
                            <input type="text" formControlName="numero">
                            <label>Número</label>
                        </div>
                        @if (utils.hasError(ubicacionForm, 'numero', 'isinteger')) {
                            <p class="form-input-error">El piso debe ser un número entero.</p>
                        }
                    </div>
                </form>

                @if (utils.formWasChanged(ubicacionForm, initData().ubicacion)) {
                    <div class="buttons ubicacion-buttons">
                        @if (loaders().ubicacion) {
                            <app-loader></app-loader>
                        }@else {
                            <app-button text="CANCELAR" color="red"></app-button>
                            <app-button (click)="onUbicacion()" text="GUARDAR"></app-button>
                        }
                    </div>
                }
            </article>

            <article class="licencia">
                <h2>Licencia de conducir</h2>

                <form [formGroup]="licenciaForm">
                    <div class="form-div">
                        <div class="form-div-input hasValue"  [class.error]="utils.hasOneError(licenciaForm, 'categoria')">
                            <select name="" id="" formControlName="categoria">
                                <option value="">Sin Licencia de Conducir</option>
                                @for (lic of licencias; track $index) {
                                    <option [value]="lic">{{lic}}</option>
                                }
                            </select>
                            <label for="">Categoría*</label>
                        </div>

                        @if (utils.hasError(licenciaForm, 'categoria', 'required')) {
                            <p class="form-input-error">La categoría es requerida.</p>
                        }
                    </div>

                    <div class="form-div">
                        <div class="form-div-toggle" [class.active]="utils.getValue(licenciaForm, 'vehiculoPropio')" (click)="utils.toggleInput(licenciaForm, 'vehiculoPropio')">
                            <label>Vehículo Propio</label>
                            <div class="input-toggle" [class.active]="utils.getValue(licenciaForm, 'vehiculoPropio')"></div>
                        </div>
                    </div>
                </form>

                @if (utils.formWasChanged(licenciaForm, initData().licencia)) {
                    <div class="buttons licencia-buttons">
                        @if (loaders().licencia) {
                            <app-loader></app-loader>
                        }@else {
                            <app-button text="CANCELAR" color="red"></app-button>
                            <app-button (click)="onLicencia()" text="GUARDAR"></app-button>
                        }
                    </div>
                }
            </article>

            <article class="education">
                <!-- <h2>Educación</h2>

                <div class="buttons">
                    <app-button [routerLink]="'/dashboard/users/'+userDetails?.id+'/edit/education'" text="AGREGAR"></app-button>
                </div> -->

                <app-education-user [educacion]="userDetails?.educacion" [userID]="userDetails?.id" [edit]="true"></app-education-user>
            </article>

            <article class="skills">
                <h2>Habilidades</h2>
                <div class="skills-container">
                    @for (skill of userDetails?.habilidades ?? []; track $index) {
                        <p class="skill">{{skill.nombre}}</p>
                    }
                </div>

                <div class="buttons">
                    <app-button (click)="onSkills()" [routerLink]="linkEditSkills" [state]="{skills: userDetails?.habilidades}" text="EDITAR" icon="edit_outline"></app-button>
                </div>
            </article>

            <article class="experiencia">
                <h2>Experiencia Laboral</h2>
                <div class="experiencia-container">
                    @for (exp of userDetails?.experienciaLaboral; track $index) {
                        <div class="exp">
                            <div class="exp-title">{{exp.puesto}}</div>
                            <div class="exp-flex">
                                <div class="exp-empresa">En 
                                    @if (exp.idEmpresa) {
                                        <span class="cursor text-link" [routerLink]="['/dashboard', 'empresas', exp.idEmpresa]">{{exp.empresa}}</span>
                                    }@else {
                                        <span>{{exp.empresa}}</span>
                                    }
                                </div>
                                <div class="exp-date">{{exp.fechaInicio | date:'dd/MM/yyyy'}} -  {{ exp.fechaTerminacion ? (exp.fechaTerminacion | date:'dd/MM/yyyy') : 'Actualidad' }}</div>
                            </div>
                            <div class="exp-desc">{{exp.descripcion}}</div>

                            <div class="exp-buttons">
                                <div (click)="onExperiencia(exp)" routerLink="exp" class="cursor">
                                    <mat-icon>edit_outline</mat-icon>
                                </div>
                                <div class="cursor" (click)="onDeleteExp(exp)"> 
                                    <mat-icon>delete_outline</mat-icon>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="buttons">
                    <app-button  routerLink="exp" text="AGREGAR" icon="add_circle_outline"></app-button>
                </div>
            </article>
        </section>
    </main>
}
<router-outlet></router-outlet>
<router-outlet name="upload-file"></router-outlet>