.user-edit{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
    max-width: 100%;

}
article{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: inherit;
    box-shadow: 0 0 4px 0 var(--boxShadowColorMax);
    background-color: var(--bgCardColor);
    transition: var(--transitionMid);
    max-width: 100%;
    overflow: auto;
}
article:nth-child(even){
    background-color: var(--bgColor);
}
article.hasChanges{
    position: relative;
    background-color: var(--mainColorAlpha);
}
article.hasChanges::after{
    content: 'Se han realizado cambios';
    position: absolute;
    text-align: right;
    top: .3rem;
    right: .7rem;
    font-weight: bold;
    font-size: .75rem;
    color: var(--mainColor);
}
article .buttons{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
article .buttons app-loader{
    justify-self: center;
}


.skills-container{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.skill{
    padding: .3rem .5rem;
    font-weight: bold;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: var(--borderrHigh);
}



.exp{
    position: relative;
    display: grid;
    gap: .5rem;
    padding: 1rem;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
}
.exp-title{
    grid-column: 1 / -1;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--titleColor);
}
.exp-flex{
    display: flex;
    gap: .5rem;
    font-size: .9rem;
}
.exp-empresa span{
    color: var(--titleColor);
}
.exp-desc{
    max-height: 6rem;
    overflow-y: auto;
}
.exp-buttons{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.exp-buttons > *{
    display: grid;
    place-items: center;
    padding: .1rem;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    color: var(--mainColor);
    transition: var(--transitionMid);
}
.exp-buttons > div:hover{
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: var(--bgCardColor);
}