/* You can add global styles to this file, and also import other style files */
:root{
    --textColor:#373435;
    --textColorAlpha:#373435aa;
    --textColorAlphaLight:#37343544;
    --bgColor: #f2f2f2;
    --bgCardColor:#fff;
    --mainColor: rgb(22,147 ,190);
    --mainColorAlphaMid: rgb(122, 192, 215);
    --mainColorAlpha: hsl(195, 100%, 95%);
    --errorColor: #ff4d4d;
    --errorColorAlphaMid: rgb(255, 125, 125);
    --errorColorAlpha: hsl(0, 100%, 95%);

    --headerHeight: 60px;

    --borderrLow:.3rem;
    --borderrMid:.5rem;
    --borderrHigh:1rem;

    --transitionFast:.3s;
    --transitionMid:.5s;
    --transitionSlow:.9s;

    --boxShadowColorMin :rgba(0, 0, 0, 0.2);
    --boxShadowColorMax: rgba(0, 0, 0, 0.4);

    --darkColorAlpha: rgba(0,0,0,.8);
}

*,*::after,*::before{
    box-sizing: border-box;
}
/* *::selection{
    background-color: var(--mainColor);
} */
a{
    text-decoration: none;
    color: var(--mainColor);
}
body{
    margin: 0;
    color: var(--textColorAlpha);
    background-color: var(--bgColor);
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,p{
    margin: 0;
}
h1,h2,h3{
    color: var(--textColor);
}
img{
    max-width: 100%;
}


.box-shadow{
    box-shadow: 0 0 10px 0px var(--textColorAlpha);
}

.content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.cursor,.btn,a{
    cursor: default;
}
.form, form {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    background-color: inherit;
  }
  .form-div{
    background-color: inherit;
  }
  .form-div-input {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--textColorAlpha);
    border-radius: var(--borderrLow);
    transition: var(--transitionFast);
    background-color: inherit;
  }
  .form-div-toggle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
  }
  .input-toggle{
    position: relative;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--textColorAlphaLight);
  }
  .input-toggle::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    transform: scale(.8);
    background-color: var(--textColorAlpha);
    transition: var(--transitionMid);
  }
  .input-toggle.active{
    background-color: var(--mainColorAlphaMid);
  }
  .input-toggle.active::after{
    left: 50%;
    background-color: var(--mainColor);
  }
  
  .form-div-input.error {
    border-color: var(--errorColor);
  }
  
  .form-div-input input,
  .form-div-input select,
  .form-div-input textarea {
    padding: 0.2rem 0.3rem;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: inherit;
    appearance: none;
    resize: none;
    font-family: inherit;
    max-width: 100%;
  }
  .form-div-input textarea{
    height: 7rem;
  }
  
  .form-div-input select {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='var(--textColor)' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 0.65rem auto;
    max-width: 100%;
  }
  
  .form-div-input label,
  .form-div-toggle label {
    
    padding: 0 0.2rem;
    font-weight: bold;
    pointer-events: none;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: var(--borderrLow);
    transition: var(--transitionFast);
    background-color: transparent;
  }
  .form-div-input label{
    position: absolute;
    top: 0.35rem;
    left: 0.3rem;
  }
  
  .form-div-input.error label {
    color: var(--errorColor);
  }
  
  .form-div-input > input:focus ~ label,
  .form-div-input > select:focus ~ label,
  .form-div-input > textarea:focus ~ label, /* Added textarea focus case */
  .form-div-input.hasValue label {
    top: -0.7rem;
    /* background-color: var(--bgCardColor); */
    background-color: inherit;

  }
  
  .form-div-input:not(.error) > input:focus ~ label,
  .form-div-input:not(.error) > select:focus ~ label,
  .form-div-input:not(.error) > textarea:focus ~ label, /* Added textarea focus case */
  .form-div-input.hasValue:not(.error) label {
    color: var(--mainColor);
  }
  
  .form-div-input:not(.error):has(> input:focus),
  .form-div-input:not(.error):has(> select:focus),
  .form-div-input:not(.error):has(> textarea:focus), /* Added textarea focus case */
  .form-div-input.hasValue:not(.error) {
    border-color: var(--mainColor);
  }
  
  .form-input-error {
    font-size: 0.9rem;
    color: var(--errorColor);
  }
.line-separator{
  position: relative;
  width: 100%;
  height: .5px;
  background-color: var(--textColorAlpha);
}
.line-separator.o::after{
  content: 'O';
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 .5rem;
  transform: translate(-50%, -50%);
  background-color: var(--bgCardColor);
}
.title{
    position: relative;
}
.title::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 3px;
    border-radius: var(--borderrLow);
    background-color: var(--mainColor);
}
.padding-top{
    padding-top: calc(var(--headerHeight) + 1rem);
}


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: var(--borderrLow);
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: .7rem;
    text-align: left;
    font-size: 1rem;
    color: var(--textColor);
    border-bottom: 1px solid #ddd;
}
th {
    background-color: var(--mainColor);
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
tr {
    transition: background-color var(--transitionFast);
    background-color: rgba(22, 147, 190, 0.1); /* Color alhpa del principal */
}
tr:nth-child(odd) {
    background-color: #fff; /* Blanco para filas impares */
}
tr:hover {
    background-color: rgba(22, 147, 190, 0.2); /* Sombra más visible en hover */
}
button {
    background-color: var(--mainColor);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: var(--borderrLow);
    cursor: pointer;
    transition: background-color var(--transitionFast);
}

button:hover {
    background-color: darken(var(--mainColor), 10%);
}
button:focus {
    outline: none;
}

@media screen and (min-width:500px) {
    .cursor,.btn,a{
        cursor: pointer;
    }
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
